<h1><%= Supplier.model_name.human %><%= @supplier.brand_name %></h1>
<h2><%= @supplier.corporate_name %></h2>

<dl>
  <dt><%= Supplier.human_attribute_name(:registration_number_doc) %>:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt><%= Supplier.human_attribute_name(:full_address) %>:</dt>
  <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
  <dt><%= Supplier.human_attribute_name(:email) %>:</dt>
  <dd><%= @supplier.email %></dd>
  <dt><%= Supplier.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= @supplier.phone_number %></dd>
</dl>
<div><%= link_to t(:edit_function), edit_supplier_path(@supplier)%></div>
<div><%= link_to t(:back_function), root_path%></div>